body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr.divider {
  height: 1px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 720px;
}

.cat {
  margin-bottom: 5px;
}

.btn-sauce {
  display: inline-block;
}

.btn-sauce-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  background-color: #333;
  color: #fff;
}

.search-bar:focus {
  background-color: #333;
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.075);
  color: #fff;
}

.search-bar::placeholder {
  color: rgb(163, 163, 163);
  opacity: 1;
}

.plus {
  color: #ced4da;
}

.plus-box {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: 38px;
}
