body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr.divider {
  height: 1px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 720px;
}

.cat {
  margin-bottom: 5px;
}

.btn-sauce {
  display: inline-block;
}

.btn-sauce-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
